{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
  <h1>Login</h1>
  <form method="post">
    <div class="form-field">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required>
    </div>
    <div class="form-field">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
    </div>
    <div class="form-field">
      <button type="submit">Login</button>
    </div>
  </form>
{% endblock %}